# react

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch


# -----------------------------
# fastapi

__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.env
.env.*
!.env.example
secrets.toml

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
.ruff_cache/

*.db
*.sqlite3

*.log
logs/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?