.footer {
    position: fixed;
    left: 2vw;
    bottom: 16%;
    z-index: 10;
}

.footer button {
    border: none;
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 10px;
}

.report {
    /* background-color: #b42b3999; */
    background-color: var(--gray-700);
    color: var(--gray-100);
}

.help {
    /*background-color: #201f7499;*/
    color: var(--gray-700);
    background-color: var(--gray-100);
}

.report:hover {
    /* background-color: #b42b39; */
    background-color: var(--gray-800);
}

.help:hover {
    /* background-color: #201f74; */
    background-color: var(--gray-200);
}