.section-views-rotas {
    position: absolute;
    left: 0;
    right: 70%;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--gray-800);
    z-index: 100;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.7);
    transition: height 700ms ease;
}

.views-rotas-line {
    width: 100px;
    height: 3px;
    margin: 24px auto 0;
    border-radius: 999px;
    cursor: pointer;
    background-color: var(--gray-700);
}

.div-radio-rota {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px auto 0 auto;
    text-align: center;
    max-width: 90%;
}

.div-radio-rota input[type="radio"] {
  display: none;
}

.div-radio-rota label {
  width: 90%;
  padding: 20px 0;
  border: 1px solid #FFFFFF40;
  color: #FFFFFF70;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.div-radio-rota input[type="radio"]:checked + label {
  background-color: #FFFFFF20;
  color: white;
  border: 1px solid #FFFFFF60;
}

.lucide-gauge, .lucide-lock, .lucide-shield-user {
    margin: 2px auto;
    display: block;
}

.div-show-routes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.div-route {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid var(--gray-700);
}

.div-route svg {
    width: 25px;
    fill: var(--gray-700);
    margin-right: 16px;
}

.route-infos {
    display: flex;
    gap: 32px;
}

.route-infos div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.route-infos div h3 {
    color: var(--gray-300);
    font-weight: 400;
}

.route-infos div p {
    color: var(--gray-500);
}

.route-infos div h4 {
    color: #5f8495;
    font-size: 16px;
}

@media (width <= 1000px) {
    .section-views-rotas {
        right: 0;
    }
}